{% extends 'base.html.twig' %}

{% block title %}Payroll Report{% endblock %}

{% block body %}
    <table class="table" id="payrollReport">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Dział</th>
            <th>Podstawa wynagrodzenia</th>
            <th>Dodatek do podstawy</th>
            <th>Typ dodatku</th>
            <th>Wynagrodzenie</th>
        </tr>
        </thead>
        <tbody>
        {% for row in payroll %}
            <tr>
                <td>{{ row.getName }}</td>
                <td>{{ row.getSurname }}</td>
                <td>{{ row.getDepartment }}</td>
                <td>{{ row.getBaseSalary }}</td>
                <td>{{ row.getSalaryAllowance }}</td>
                <td>{{ row.getSalaryAllowanceType }}</td>
                <td>{{ row.getSalary }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#payrollReport thead tr').clone(true).addClass('filters').appendTo('#payrollReport thead');
            var table = $('#payrollReport').DataTable({
                paging: false,
                info: false,
                orderCellsTop: true,
                sDom: 'lrtip',
                fixedHeader: true
            });
            table.columns().eq(0).each(function (colIdx) {
                var cell = $('.filters th').eq($(table.column(colIdx).header()).index());
                var searchableColumnIds = [0, 1, 2]
                if (!searchableColumnIds.includes(colIdx)) {
                    $(cell).html('');
                    return true;
                }
                $(cell).html('<input type="text" placeholder="Search" />');
                $('input', $('.filters th').eq($(table.column(colIdx).header()).index())).off('keyup change').on('keyup change', function (e) {
                    e.stopPropagation();
                    $(this).attr('title', $(this).val());
                    var regexr = '({search})';
                    table
                        .column(colIdx)
                        .search((this.value != "") ? regexr.replace('{search}', '(((' + this.value + ')))') : "", this.value != "", this.value == "")
                        .draw();
                });
            });
        });
    </script>
{% endblock %}
